<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>BuyTicketList</servlet-name>
    <servlet-class>com.servlet.BuyTicketList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyTicketList</servlet-name>
    <url-pattern>/buyTicketList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindAllServlet</servlet-name>
    <servlet-class>com.servlet.FindAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllServlet</servlet-name>
    <url-pattern>/findAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.servlet.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/listServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginCompanyServlet</servlet-name>
    <servlet-class>com.servlet.LoginCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCompanyServlet</servlet-name>
    <url-pattern>/loginCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginManagerServlet</servlet-name>
    <servlet-class>com.servlet.LoginManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginManagerServlet</servlet-name>
    <url-pattern>/loginManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/addServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindUserServlet</servlet-name>
    <servlet-class>com.servlet.FindUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserServlet</servlet-name>
    <url-pattern>/findUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/deleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindCompanyServlet</servlet-name>
    <servlet-class>com.servlet.FindCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCompanyServlet</servlet-name>
    <url-pattern>/findCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCompanyServlet</servlet-name>
    <servlet-class>com.servlet.AddCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCompanyServlet</servlet-name>
    <url-pattern>/addCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCompanyServlet</servlet-name>
    <servlet-class>com.servlet.UpdateCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCompanyServlet</servlet-name>
    <url-pattern>/updateCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCompanyServlet</servlet-name>
    <servlet-class>com.servlet.DeleteCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCompanyServlet</servlet-name>
    <url-pattern>/deleteCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>com.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/bookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindAllUserAirList</servlet-name>
    <servlet-class>com.servlet.FindAllUserAirList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllUserAirList</servlet-name>
    <url-pattern>/findAllUserAirList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackBookServlet</servlet-name>
    <servlet-class>com.servlet.BackBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackBookServlet</servlet-name>
    <url-pattern>/backBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackButton</servlet-name>
    <servlet-class>com.servlet.BackButton</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackButton</servlet-name>
    <url-pattern>/backButton</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonalInformation</servlet-name>
    <servlet-class>com.servlet.PersonalInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalInformation</servlet-name>
    <url-pattern>/personalInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserPersonalServlet</servlet-name>
    <servlet-class>com.servlet.UpdateUserPersonalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserPersonalServlet</servlet-name>
    <url-pattern>/updateUserPersonalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChongzhiUserServlet</servlet-name>
    <servlet-class>com.servlet.ChongzhiUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChongzhiUserServlet</servlet-name>
    <url-pattern>/chongzhiUserServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
</web-app>